.idea/
singular/.idea/
.vscode
singular/.vscode
__pycache__/
singular/__pycache__/
config.json
config.plist
network.json
network.plist
singular/config.json
singular/config.plist
singular/network.json
singular/network.plist
singular/startpoint.py
data/
tests/
singular/data/
singular/tests/
build/
dist/
Singular.egg-info/
